{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="homepage">
        <div class="title">
            <li class= bigTitle>Webcam</li>
            <li class="smallTitle">Whatever is begun in anger ends in shame</li>
        </div>
        <div class="firstimage">
            {% load static %}
            <img src="{% static 'img/133.PNG' %}" alt="">
        </div>
        <div class="printnumber">

          <br>
          <br>
            {% for carnumber in Carnumber_all %}
            <li>
                <span class="number">{{carnumber}}</span>
            </li>
            <hr align="center" style="border: solid 0.1px rgb(190, 188, 188);width:300px;">
            {% endfor %}

          </div>
    </div>
    <div class="sidepage">
        <div class="location">
             <div id="map" style="border:1px solid black;width:400px;height:320px;"></div>
        </div>
        <div id="container"></div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script>
        
          Highcharts.chart('container', {
              chart: {
                  type: 'column'
              },
              title: {
                  text: '날짜별 위반 건수'
              },
              xAxis: {
                  categories: [
                    {% for entry in dataset %}
                        '{{entry.date}}'
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                  ]
              },
              yAxis:{
                min:0
                
              },
              series: [{
                  name: '적발 건수',
                  data: [
                    {% for entry in dataset %}
                     {{ entry.cnt }}
                     {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  ],
                  color: 'green'
              }] 

          });
        </script>    </div>

</div>



<!--Javascript-->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d03fb00bef54bdef682cd70bc69010a"></script>
<script>
    
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(37.489629, 127.029440), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    // 마커가 표시될 위치입니다 
    var markerPosition  = new kakao.maps.LatLng(37.489629, 127.029440); 
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });
    
    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
    
    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);
    function resizeMap() {
    var mapContainer = document.getElementById('map');
    mapContainer.style.width = '650px';
    mapContainer.style.height = '650px'; 
    }

    function relayout() {    
        
        // 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
        // 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다 
        // window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
        map.relayout();
    }
</script>
{% endblock %}

