{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="homepage">
        <div class="title">
            <li class= bigTitle>Basic</li>
            <li class="smallTitle">Whatever is begun in anger ends in shame</li>
        </div>
        <div class="firstimage">
            {% load static %}
            <img src="{% static 'img/background4.jpg' %}" alt="">
        </div>
        <div class="writing">
            
            {% for post in post_latest %}
            <li class="item">
                <a href="{% url 'post' post.id %}"><span class="subtitle">
                    {{post.summary}}
                    {% if post.title|length > 20 %}
                        ...
                    {% endif %}
                </span></a>
                <div class="info">
                    <span class="topic">
                        {% for c in post.category.all %}
                            {{c}}
                            {% if not forloop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                    <span class="date">{{post.createDate}}</span>
                </div>
            </li>
            {% endfor %}

        </div>        </div>
</div>
{% load static %}
<script src="{% static 'js/test.js' %}"></script>
{% endblock %}
