{% extends 'blog/base.html' %}
{% block content %}


<div class="container">
    <div class="homepage">
        <div class="sidenav">
            <a href="{% url 'about' %}">About</a>
            <a href="#services">Services</a>

            <button class="dropdown-btn">서울특별시
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% if user.is_authenticated %}
                <a href="{% url 'seocho' %}">서초구</a>
                {% else %}
                <a href="{% url 'info' %}">서초구</a>
                {% endif %}
                <a href="#">강남구</a>
                <a href="#">은평구</a>
            </div>
            <button class="dropdown-btn">경기도
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% if user.is_authenticated %}
                <a href="{% url 'duckyang' %}">고양시 덕양구</a>
                {% else %}
                <a href="{% url 'info' %}">고양시 덕양구</a>
                {% endif %}
                <a href="#">고양시 일산동구</a>
                <a href="#">고양시 일산서구</a>
            </div>
            <button class="dropdown-btn">인천광역시
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">중구</a>
                <a href="#">동구</a>
                <a href="#">연수구</a>
            </div>
            <a href="{% url 'contact' %}">Contact</a>
        </div>         
    </div>
    <div class="about">
        <div class="Title">
            헬맷 미착용 감지 서비스
        </div>
        <div class="backimage">
            {% load static %}
            <img src="{% static 'img/ㅗㅗ.png' %}" alt="">
        </div>
        {% if user.is_authenticated %}
        <div>
            <h2>환영합니다.</h2>
        </div>
        <div>
            현재까지 이용 가능한 지역은 
            <span style="color:blue">서울특별시 서초구</span>,
            <span style="color:blue">경기도 고양시 덕양구</span>입니다.
        </div>
        {% else %}
        <div>
            <h2>관리자 접근권한이 필요합니다.</h4>
        </div>
        <div>
            <button class="button1"><a href="{% url 'login' %}">로그인 페이지로 이동>></a></button>
            <button class="button2"><a href="{% url 'signup' %}">회원가입 페이지로 이동>></a></button>

        </div>
        {% endif %}
    </div>
    

</div>

{% endblock %}