<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://kit.fontawesome.com/10b73f68fd.js" crossorigin="anonymous"></script> 
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d03fb00bef54bdef682cd70bc69010a"></script>
    <script src="https://kit.fontawesome.com/226cf9ba84.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>@@@@@@</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fas fa-hard-hat"></i>
            <a href="{% url 'index' %}">PPE Detection</a>
        </div>

        <ul class="navbar__menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'maps' %}">Maps</a></li>
            <li><a href="{% url 'info' %}">Info</a></li>
            {% if user.is_authenticated %}

            <li><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Register</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
            {% endif %}

        </ul>
        <div class="navbar__icons">
            
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footbar">
        <ul>
                <div class="text">
                    <p>(10540) 경기도 고양시 덕양구 항공대학로 76</p>
                    <p>TEL - (02) 300-0114  FAX - (02) 3158-5769 E-mail - kang48450@kau.kr</p>
                    <hr class = "one">
                    <p>(산학프로젝트) 1조 강덕영 이대한 윤재혁 유남욱 백근우</p>
                    <h6 class="text-uppercase fw-bold mb-4">Made by TEAM dukyoung</h6>  
                </div>
        </ul>
    </footer>
</body>
</html>
