<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d03fb00bef54bdef682cd70bc69010a"></script>
    <script src="https://kit.fontawesome.com/10b73f68fd.js" crossorigin="anonymous"></script> 
    <script src="js/test.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>My blog</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fa-solid fa-user-secret"></i> 
            <a href="{% url 'index' %}">PPE Detection</a>
        </div>

        <ul class="navbar__menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'maps' %}">Maps</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'create' %}">Create</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Register</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
            {% endif %}

        </ul>
        <div class="navbar__icons">
            <li><a href="//www.facebook.com"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://ko-kr.facebook.com/messenger/"><i class="fab fa-facebook-messenger"></i></a></li>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footbar">
        <ul>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Made by TEAM dukyoung</h6>
                    <hr class = "one">
                    <p> 이걸 클릭하면 소개 페이지로 넘어가게 넣으면 어떨까</p>
                </div>
        </ul>
    </footer>
</body>
</html>
