{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="homepage">
        <div class="sidenav">
            <a href="{% url 'about' %}">About</a>
            <a href="#services">Services</a>

            <button class="dropdown-btn">서울특별시
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% if user.is_authenticated %}
                <a href="{% url 'seocho' %}">서초구</a>
                {% else %}
                <a href="{% url 'info' %}">서초구</a>
                {% endif %}
                <a href="#">강남구</a>
                <a href="#">은평구</a>
            </div>
            <button class="dropdown-btn">경기도
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% if user.is_authenticated %}
                <a href="{% url 'duckyang' %}">고양시 덕양구</a>
                {% else %}
                <a href="{% url 'info' %}">고양시 덕양구</a>
                {% endif %}
                <a href="#">고양시 일산동구</a>
                <a href="#">고양시 일산서구</a>
            </div>
            <button class="dropdown-btn">인천광역시
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">중구</a>
                <a href="#">동구</a>
                <a href="#">연수구</a>
            </div>
            <a href="{% url 'contact' %}">Contact</a>
        </div>         
    </div>
    <div class="contact">
        <div class="text">
            <p>(10540) 경기도 고양시 덕양구 항공대학로 76</p>
            <p>사진출처:https://www.police.go.kr/index.do </p>
            <p>TEL - (02) 300-0114</p>
            <p>FAX - (02) 3158-5769</p> 
            <p>E-mail - kang48450@kau.kr</p>
            <hr class = "one" style="width:70%;">
        </div>
        <div class="source">   
            <p>(산학프로젝트) 1조 강덕영 이대한 윤재혁 유남욱 백근우</p>
            <h6 style="color:blue;">Made by 1 TEAM</h6>  
        </div>
    </div>
</div>

{% endblock %}