{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapping">
    <div class="detailpage">
        <div class="detailTitle">
            <div class="bigTitle">{{post.title}}</div>
            <div class="detailInfo">
                <span class="detailDate">{{post.createDate}}</span>
            </div>
        </div>
        
        {% if post.title_image %}
        <div class="detailimage">
            <img src="{{ post.title_image.url }}" alt="">
        </div>
        {% endif %}

        <div class = writing>
            {{post.content}}
        </div>
    </div>
</div>
{% endblock %}
